body{
    background-image: url("./img/photo-1628953535333-a64a918181c0.jpeg");
    background-size: 1900px 1080px;
    background-repeat: no-repeat;
}


header {
    width: stratch;
    height: 104px;
    padding-left: 16px;
    padding-right: 16px;
    background-position: center top;
    font-family: "Motiva Sans", Sans-serif;
    color: #969696;
    font: 14px;
    background: #171d25;
    
    
    
}

.content{
    position: center;
}

.logo{
    float: left;
    padding-top: 30px;
    margin-right: 40px;
    width: 44px;
    height: 44px;
}

.links{
    display: flex;
    gap: 20px;
}

.links a{
    padding-top: 40px;
    color : hsl(200, 4%, 87%);
    text-decoration: none;
    font-size: 20px;
}

.links a:hover{
    color : #1c75ea;
    text-decoration: underline;
    
}

.cv_downloader_holder a{
    position: absolute;
    top: 10px;
    right: 24px;
    width: 124px;
    height: 32px;
    background-color: darkgreen;
    color : #DCDEDF;
    text-decoration: none;
    text-align: center;
     /* Вот ключевые свойства для центрирования: */
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center;     /* Центрирование по вертикали */
    
    /* Дополнительно для красоты */
    text-align: center; /* Центрирование текста внутри параграфа */
 
}

.cv_downloader_holder a:hover{
    background-color: green ;

}

.content{
    background: #171d25;
    position: relative;
    width: 940px;
    height: 104px;
    margin: 0px auto;
    z-index: 402;

}


#Profile_header{
    padding-top: 24px;
    display: flex;
    justify-content: center;


}

.profile_avatar{
    position: relative;
    width: 164px;
    height: 164px;
 
}



.avatar-photo {
    position: absolute;
    width: 100%; /* Растягиваем фото на весь контейнер */
    height: 100%;
    object-fit: cover; /* Заполняем контейнер без искажений */
   
   /* padding-left: 9%;
    padding-top: 9%; */

}

.avatar-frame {
    position: absolute;
    width: 199px; /* Растягиваем фото на весь контейнер */
    height: 199px;
    z-index: 2; 
    top: -18px;
    left: -18px;

}

.profile_header_centred_col{
    position: relative;
    padding-left: 36px;
    padding-right: 18px;
    width: 490px;


}

.name{

    font-family: "Motiva Sans", Sans-serif;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 200;
    line-height: 40px;
    margin-bottom: 8px;

}

.location{
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
    /* color: #c4c4c4; */
    color: #FFFFFF;
    font-size: 13px;
    padding-bottom: 4px;
}

.about{
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 13px;
}

.profile_header_expiriance_info{
    position: relative;
    color: #FFFFFF;
}

.expiriance_time{
    font-family: "Motiva Sans", Sans-serif;
    font-size: 24px;
    height: 40px;

}

.university_badge{
    display: flex;
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
    height: 70px;
    width: 268px;
    padding-top: 8px;
    align-items: center;   /* по вертикали */
}

.uni_name{
    display: flex;
    align-items: center;  
    padding-left: 7px;
    position: relative;
}
